header {
	width: 98%;
	height: 225px;
	display: inline-block;
	margin: 1%;
}

.advertisemet {
	width: 20%;
	height: 225px;
	background-color: #f3f3f7;
	line-height: 225px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.advertisemet-left {
	float: left;
	margin-right: 1%;
}

.advertisemet-right {
	float: right;
	margin-left: 1%;
}

.imd {
	width: 58%;
	height: 152px;
	background-color: #f3f3f7;
	float: left;
	line-height: 151px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.underlogo {
	line-height: 67px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    width: 19%;
	height: 67px;
	float: left;
	background-color: #abacb1;
}

.box {
	margin: 0.5% 0.5% 0% 0%;
}

.imdpro {
	text-transform: uppercase;
	margin: 0.5% 0% 0% 0%;
}

.imbdres {
	text-transform: uppercase;
	margin: 0.5% 0% 0% 0.5%;
}



.lowercase {
	text-transform: lowercase;
}

nav {
	width: 98%;
	height: 75px;
	background-color: #abacb1;
	margin: 1%;
}

.nav {
	display: flex;
	justify-content: space-between;
   	list-style: none;
  	margin: 1%;
  	height: 100%;
  	width: 100%
}
.nav li {
    text-transform: uppercase;
    height: 100%;
    width: 20%;
    display: block;
    text-align: center;
}    

nav li:not(:last-child){	border-right: 1px solid black;}

.nav a {
	text-decoration: none;
	color: black;
	font-size: 241%;
	line-height: 70px;
}

.boxsearch {
	width: 98%;
	height: 105px;
	margin: 1%; 
	background-color: #d1d2d4;
	display: inline-block;
}
.textsearch {
	font-size: 40px;
    padding: 1%;
	width:7%;
	float: left;	
}

.text {
	width: 58%;
    height: 60px;
    margin: 1%;
    border:1px solid #999;
    font-size: 30px;
    float: left;
}

.go {
	float: left;
	font-size: 20px;
    margin: 1%;
    height: 60px;
    width: 5%;
    text-transform: uppercase;
}

.advanced {
	float: left;
	margin-top: 60px;
	font-size: 20px;
}

main {
	overflow: hidden;
}

.topboxone {
	height: 30px;
    width: 11%;
    background-color: #d1d2d4;
    padding: 2px;
    margin: 1% 1% 0% 1%;
}

.topboxone p {
	font-size: 20px;
	text-transform: capitalize;
	padding: 5%;
}

.boxone {
	display: flex;
 	justify-content: space-between;
 	margin: 0% 1% 1% 1%;
	width: 98%;
	height: 253px;
	border:1px solid #dfdfdf;
	text-transform: uppercase;
	line-height: 253px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}

.boxone div {
	float: left;
	width: 24%;
	height: 100%;
	background-color: #f3f3f5;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}

.boxone div:first-of-type { margin-left: 0; border-left: none;}
.boxone div:last-of-type { margin-right: 0; border-right:none;}


.boxend div:first-of-type {
	background-color: #f3f3f5;
}

 .uppercase {
 	text-transform: uppercase;
 }


 .magic-flex { 
 	margin: 0 1%;
 	display: flex;
 	justify-content: space-between;
 }



 .mf-left {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 	width: 24%;
 	height: 510px;
 	text-transform: capitalize;
	line-height: 250px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
 }

 .mf-right { 
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 	width: 24%;
 	height: 510px;
 	text-transform: capitalize;
	line-height: 250px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
	 
 }

.mf-center {
	width: 49.3%;
 	height: 510px;
	background-color: #d1d2d4;
	border: 1px solid #dfdfdf;
	text-transform: capitalize;
	line-height: 510px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}

.mf-left div, .mf-right div {
	height: 48%;
	border: 1px solid #dfdfdf;
}

.mf-left div {
		background-color: #d1d2d4;
}

.mf-right-top, .mf-left-top {
	margin-bottom: 4%;
}

.mf-right-top {
		background-color: #f3f3f5;
}

.mf-right-bottom {
	background-color: #d1d2d4;
}

.magic-flex-two {
	display: flex;
 	justify-content: space-between;
 	width: 98%;
 	margin: 1%;
}

.end-right, .end-left {
	width: 23.8%;
 	height: 250px;
 	background-color: #f3f3f5;
	border: 1px solid #dfdfdf;
	text-transform: capitalize;
	line-height: 250px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
	background-color: #d1d2d4;
}

.end-center {
	width: 49.3%;
	height: 250px;
	background-color: #f3f3f5;
	border: 1px solid #dfdfdf;
	text-transform: uppercase;
	line-height: 250px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}